<!DOCTYPE html>
<html lang="en">

<head>



  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">



{% for page in pages %}
<a href="{{ page.output_filename }}">{{ page.title }}</a>
{% endfor %}

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  {% for page in pages %}
          <li class="nav-item"> 
            <a class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" href="{{ page.filename_only }}">{{ page.title }}</a></li>
          </li>
        {% endfor %}




          </li>
        </ul>
      </div>
    </div>
  </nav>



  {{content}}